@model ECOPlantation.Models.PlantCount

@{
    ViewData["Title"] = "Home Page";
    int count;
    if (ViewBag.Count == null)
    {
        count = 0;
    }
    else
    {
        count = ViewBag.Count;
    }
}

    <style>
        body {
            background-color: #191E29;
            color: white;
            background-image: url('@Url.Content("~/images/statics/background.png")');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }
    </style>

<div>
    <div class="row">
        <div class="col-4" style="margin-left: 10%; margin-top: 5%;">
            <h3 class='text-white' style="font-weight: 800;font-size:70px" >
                Plant<br>
                Connect,
            </h3>
            <h2 style="color: #21C094; font-weight: 800; font-size:70px">Inspire</h2>
            <h5 class='text-white'>
                Where every Seed Tells a Story
            </h5>
            <h3 class='mt-3 ms-1' style="color: #21C094; font-weight:800; font-size:150px;">@count+</h3>
            <span class='text-white ms-5' style="font-weight:600;">Planted Trees</span>
        </div>
        <div class="col-6 ms-5" style="padding-left: 15%; margin-top: 2%;">
            <img src="~/images/statics/home2.png" height='480px' width='600px' alt="">
            <img src="~/images/statics/home1.png" height='500px' width='500px' alt="" style="position: absolute; left: 990px; top: 140px; z-index: -">
        </div>

        <div style=" padding-bottom: 20px; width: 1519.2px">
            <h2 style="color: #21C094; margin-left: 5%; margin-top:10%;  font-weight:400; font-size:40px  ">Features</h2>
        </div>
        <div class="row row-cols-1 row-cols-md-3 g-4 justify-content-around p-5" style="margin-top:-5%;">
            <div class="col">
                <div class="card h-100 border-0">
                    <img style="border-radius:1rem" src="~/images/statics/features1.png" class="card-img-top" alt="..." height='445px' width='50px'>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 border-0">
                    <img src="~/images/statics/features2.png" class="card-img-top" alt="..." height='445px' width='50px'>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 border-0">
                    <img src="~/images/statics/features3.png" class="card-img-top" alt="..." height='445px' width='50px'>
                </div>
            </div>
        </div>
    </div>

</div>



<div st">
    <div class="row">
        <div class="col-4" style="margin-left: 5%; margin-top: 5%;">
            <h4 style="color: #21C094;  font-weight: 800; font-size:70px">Keep Track</h4>
            <span class='text-white' style="font-weight: 400; font-size:30px">
                of Fertilizers
            </span>
            <h6 class='text-white'>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Distinctio iusto fugiat tempora pariatur deleniti, sit, ea vero veniam quo tempore ex? Dolorum quam sequi rem ex voluptatem? Ratione, sequi mollitia!</h6>
        </div>
        <div class="col-6 ms-5" style="padding-left: 15%; margin-top: 2%;">
            <img src="~/images/statics/fertilizers.png" height='384px' width='550px' alt="">
        </div>
        <div style="background-color: #52538C;">
            <div class="text-center mt-5">
                <h3 class="text-center" style="color: #21C094; font-weight:600; font-size:70px">Building Green</h3>
                <h3 class="text-white text-center">Communities Together</h3>
            </div>

            <div class="row">
                <div class="col-4" style="margin-left: 10%; margin-top: 0%;">
                    <h1 class='mt-2 ms-5' style=" margin-top:-10%; color: #21C094; font-weight:800; font-size:150px;">@count+</h1>
                    <h2 class='text-white ms-5'>Planted Trees</h2>  
                </div>
                <div class="col-6 ms-5" style="padding-left: 15%; margin-top: 2%;">
                    <form asp-action="SendTree" asp-controller="PlantCounts">
                        <label class="text-white text-bold mb-2" for="">Number of trees you planted today</label><br>
                        <input asp-for="NoOfPlants" class="rounded border border-success" style="height:40px; width: 260px; background-color: white">
                        <input type="submit" value="+" class="btn btn-success round" style=" color: white; border-radius: 50%" />
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>