html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}


body {
    background-color: #191E29;
    color: white;
    background-image: url('img/image.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: 'Outfit', sans-serif; /* Use 'Oulfit' font with a fallback to sans-serif */
}
