@model ECOPlantation.Models.News

@{
    ViewData["Title"] = "Details";
}

<a class="btn btn-secondary" asp-action="Index">Back to List</a>

<div class="container mt-5" style="color: black;">
    <div class="card">
        <div class="card-body">
            <h1 class="card-title" style="text-align: center;">@Model.NewsTitle</h1>

            <img style=" display: block; margin-left: auto; margin-right: auto; width: 50%;" src="~/Images/News/@Model.NewsPhotoURL" alt="">

            <p class="card-date" style="font-size: 12px; margin-left: 25%;">01 january 2024</p>

            <p>
               @Model.NewsContent
            </p>
        </div>
    </div>
</div>



