@model IEnumerable<ECOPlantation.Models.News>

@{
    ViewData["Title"] = "Index";
}
<style>
    body {
        background-color: #191E29;
        color: white;
        background-image: url('@Url.Content("~/images/statics/background.png")');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
</style>

<div class="container">
    <div class="justify-content-center row">
        <div class="col-md-6">
            <h2 style="margin-right: 10%;">News</h2>
        </div>
        <div class="col-md-4 text-end">
            <a asp-action="Create" asp-controller="News" class="btn btn-success float-end" data-ajax="true" data-ajax-method="get" data-ajax-update="#page" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Post News</a>

        </div>
    </div>
</div>

<div class="container mb-4">
    <div class="justify-content-center row ml-3" style="margin-left: 10px;">

        @foreach (var item in Model)
        {

            <div class="col-md-5 g-4">
                <div class="card">
                    <div class="card-body">
                        <img src="~/Images/News/@item.NewsPhotoURL" alt="" style="display: flex; justify-content: center; align-items: center; height: 37vh;">
                        <a asp-action="Details" asp-route-id="@item.Id" style="text-decoration: none;">
                            <h3 class="card-text" style="color: black; text-decoration: none">@item.NewsTitle</h3>
                        </a>
                        <p style="color: black; font-size: 12px; margin-top: -10px;">@item.CreatedAt</p>
                        <!-- <p style="color: black; font-size: 12px; margin-top: -10px;">01 january 2024</p> -->
                    </div>

                </div>
            </div>

        }

    </div>
</div>

<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog" id="page">
    </div>
</div>