@model IEnumerable<ECOPlantation.Models.DonationRequest>

@{
    ViewData["Title"] = "Index";
}

<style>
    body {
        background-color: #191E29;
        color: white;
        background-image: url('@Url.Content("~/images/statics/background.png")');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
</style>
<p>
    <a class="btn btn-success justify-content-center" asp-action="Create" asp-controller="DonationRequests" data-ajax="true" data-ajax-method="get" data-ajax-update="#page" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Create Donation</a>
</p>
<div class="row row-cols-1 row-cols-md-2 g-4">
            @foreach (var item in Model)
            {
              <div class="col">
                <div class="card" style="color: black; padding-left:"1">
                    <img style="height:40px width:fit-content" src="~/Images/DonationRequest/@item.RequestPhotoURL">

                    <div class="card-body">

                        <h5 class="card-title"></h5>
                        <p class="card-text" style="font-size: 16px;">@item.Content</p>

                    </div>
                    <div class="conntainer mb-2" style="margin-left: 35%;">

                        <a class="btn btn-success justify-content-center" style="text-decoration: none;" asp-route-Id="@item.Id" asp-action="Payments" asp-controller="DonationRequests" data-ajax="true" data-ajax-method="get" data-ajax-update="#page" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Provide Donation</a>

                    </div>
                </div>
             </div>
            }
            </div>
       

<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog" id="page">
    </div>
</div>
