@using System.Security.Claims
@model ECOPlantation.Models.DonationPayment

<style>
    body {
        color: black;
    }
</style>

<form asp-action="Payments" asp-controller="DonationRequests">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel">Donate</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>


            <input asp-for="DonatedBy" value="@User.FindFirstValue(ClaimTypes.Name)" class="form-control" hidden />

            <input asp-for="RequestedDonation" value="@ViewBag.DonationId" class="form-control" hidden/>

            <div class="form-group">
                <label asp-for="TotalDonation" class="control-label"></label>
                <input asp-for="TotalDonation" class="form-control" />
                <span asp-validation-for="TotalDonation" class="text-danger"></span>
            </div>

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <input type="submit" value="Donate" class="btn btn-primary" />
        </div>
    </div>
</form>

